@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Åsa Lodesjö - Moment 4</h1>
    <p>Tutorial: <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetcore-3.1" target="_blank">Create a Razor Pages web app with ASP.NET Core</a>
    </p>
</div>
